<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><%= SiteSettings.site_name %></a>
          
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.to_s %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", profile_path(current_user) %></li>
                    <li><%= link_to "Settings", edit_user_registration_path %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign in | Sign Up", new_user_session_path, :class => 'login-link' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="wrap">
      <div id="main" class="container primary-<%= params[:controller] %> secondary-<%= params[:action] %>">
        <% flash.each do |name, msg| %> 
          <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %> 
        <% end %>
        <%= yield %>
      </div>
    </div>
    
    <div class="footer">
      <div class="container">
        <ul class="nav nav-pills">
          <li><%= link_to "About", "/about" %></li>
          <li><%= link_to "Contact", "/about/contact" %></li>
          <li><%= link_to "Terms", "/about/terms" %></li>
        </ul>
      </div>
    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
